.RData
.Rhistory
data/*
checkpoints/resultados_20161015.ods
checkpoints/resultados_20161106.ods
final/DMEyF_2016.ods
final/uba.2016.diego.dellera.preguntas.txt
recuperatorio/misc/*
recuperatorio/data/recu_03.txt
